# Core
numpy
pandas
scipy

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
catboost
lightgbm

# Deep Learning
torch
pytorch-forecasting
pytorch-lightning

# Deployment
streamlit
flask

# Data Formats & Serialization
duckdb
pyarrow
fastparquet
openpyxl

# Kaggle & Utilities
kaggle
py7zr
pyyaml
tqdm
joblib
